<!-- how_to_use.html -->
{% extends 'base.html' %}
{% block content %}

<h1>How to Use</h1>

<h2>Add Items with Nutritional Information:</h2>
<p>Easily add the food items you consume throughout the day. Specify details such as proteins, carbohydrates, fats, and calories for each item.</p>

<h2>Comprehensive Nutrition Tracking:</h2>
<p>Track your daily nutritional intake with precision. Food Tracker allows you to monitor the essential components of your diet, including proteins, carbohydrates, fats, and overall caloric content.</p>

<h2>Daily Status Tracking:</h2>
<p>Stay informed about your nutritional progress by logging your food consumption every day. The application provides a clear overview of your daily status, helping you make informed decisions about your diet.</p>

<h2>Personalized Dashboard:</h2>
<p>Access a personalized dashboard that displays your daily, weekly, and monthly nutritional statistics. Visualize your progress and make adjustments to achieve your health and fitness goals.</p>

<h2>User-Friendly Interface:</h2>
<p>Food Tracker boasts an intuitive and user-friendly interface, making it easy for users of all levels to navigate and utilize its features. Whether you're a health enthusiast or just getting started on your wellness journey, Food Tracker is tailored to meet your needs.</p>

<h2>How to Use:</h2>

<h3>Add Items:</h3>
<ul>
  <li>Navigate to the "Add Items" section.</li>
  <li>Input the food items you've consumed, along with their nutritional information.</li>
</ul>

<h3>Track Daily Status:</h3>
<ul>
  <li>Visit the "Home" section to view your daily nutritional status.</li>
  <li>Monitor your progress and make adjustments to your diet as needed.</li>
</ul>

<h3>Explore Insights:</h3>
<ul>
  <li>Dive into the detailed insights provided on your personalized dashboard.</li>
  <li>Analyze your nutritional patterns over time and make informed decisions about your dietary choices.</li>
</ul>

<p>Start your journey to a healthier lifestyle with Food Tracker. Whether you're focused on building muscle, losing weight, or maintaining a balanced diet, this application empowers you to take control of your nutrition. Download Food Tracker now and make every meal count toward your well-being!</p>

{% endblock content %}
